:root {
  --light-color-main: #f4f4fd;
  --accent-color: #e7e9fc;
  --brand-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color-main: #2e2f42;
  --success-color: #31d0aa;
  --text-color-main: #434455;
  --text-color-secondary: #8e8f99;
  --backdrop-color: rgba(46, 47, 66, 0.4);
  --dark-background-color: rgba(46, 47, 66, 0.7);
  --white-color: #fff;
  --light-background-color: #fcfcfc;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  color: var(--text-color-main);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===============================STUDIO PAGE=============================== */
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;

  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-logo {
  padding: 24px 0;
}

.logo-accent {
  color: var(--brand-color);
}

.logo-light-theme {
  color: var(--dark-color-main);
}

.logo-dark-theme {
  color: var(--light-color-main);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

.contacts-list {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--white-color);
  z-index: 1;

  transform: translateX(100%);
  transition: transform var(--duration) var(--timing-function);
}

.menu.is-open {
  transform: translateX(0);
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 353px;
  margin-right: auto;
  margin-left: auto;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  border: none;

  font-family: inherit;

  background-color: transparent;
}

.menu-toggle-icon {
  stroke: var(--dark-color-main);
}

.menu-toggle-close {
  position: absolute;
  top: -32px;
  right: -11px;

  width: 24px;
  height: 24px;
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  padding: 0;

  background-color: rgba(231, 233, 252, 0.1);
}

.menu-navigation {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.menu-navigation-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;

  color: var(--dark-color-main);
}

.menu-navigation-link.current,
.menu-navigation-link:focus,
.menu-navigation-link:active {
  color: var(--pressed-color);
}

.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.menu-contacts-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--text-color-main);
}

.menu-contacts-tel.menu-contacts-link,
.menu-contacts-link:active,
.menu-contacts-link:focus {
  color: var(--brand-color);
}

.menu-social-list {
  display: flex;
  justify-content: space-between;
}

.menu-social-item {
  width: 40px;
  height: 40px;
}

.menu-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: var(--brand-color);
  color: var(--light-color-main);
}

.menu-social-link:focus,
.menu-social-link:active {
  background-color: var(--pressed-color);
}

.menu-social-icon {
  fill: currentColor;
}

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-color-main);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg-428@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg-428@2x.jpg);
  }
}

.hero-display {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--white-color);
}

.hero-button {
  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-color);
  background-color: var(--brand-color);

  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background-color var(--duration) var(--timing-function);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--pressed-color);
}

.main-title {
  margin-bottom: 72px;

  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  color: var(--dark-color-main);
}

.features {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  flex-basis: calc((100% - 0 * 24px) / 1);
}

.features-box {
  display: none;
}

.features-title {
  margin-bottom: 8px;

  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--dark-color-main);
}

.features-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.doing {
  display: none;
}

.team {
  padding: 96px 0;

  background-color: var(--light-color-main);
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.team-item {
  width: 264px;

  background-color: var(--white-color);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-description {
  padding: 32px 0;
}

.team-name {
  margin-bottom: 8px;

  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark-color-main);
}

.team-position {
  margin-bottom: 8px;

  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;

  background-color: var(--brand-color);
  color: var(--light-color-main);

  transition: background-color var(--duration) var(--timing-function);
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: var(--pressed-color);
}

.social-icon {
  fill: currentColor;
}

.customers {
  padding: 96px 0;
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-item {
  max-width: 190px;
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--text-color-secondary);
  border-radius: 4px;

  color: var(--text-color-secondary);

  transition: color var(--duration) var(--timing-function),
    border-color var(--duration) var(--timing-function);
}

.customers-link:hover,
.customers-link:focus,
.customers-link:active {
  border-color: var(--pressed-color);
  color: var(--pressed-color);
}

.customers-icon {
  fill: currentColor;
}

.footer {
  padding: 96px 0;

  background-color: var(--dark-color-main);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo {
  text-align: center;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 268px;

  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--light-color-main);
}

.footer-title {
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--white-color);
}

.footer-social .social-list {
  gap: 16px;
}

.footer-social .social-link:hover,
.footer-social .social-link:focus,
.footer-social .social-link:active {
  background-color: var(--success-color);
}

.footer-subscribe {
  width: 100%;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  background-color: transparent;
  color: var(--white-color);
}

.subscribe-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-button {
  min-width: 165px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;

  background-color: var(--brand-color);
  color: var(--white-color);

  cursor: pointer;
}

.subscribe-form-icon {
  margin-left: 16px;

  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;

  background-color: var(--backdrop-color);
  opacity: 1;
  visibility: visible;

  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 0) scale(0.5);
}

.modal {
  position: absolute;
  top: 24px;
  left: 50%;
  width: calc(100% - 32px);
  padding: 72px 16px 24px 16px;
  min-height: 584px;

  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  background-color: var(--light-background-color);

  transform: translate(-50%, 0) scale(1);
  transition: transform var(--duration) var(--timing-function);
}

.close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: var(--accent-color);

  cursor: pointer;
  transition: background-color var(--duration) var(--timing-function),
    border var(--duration) var(--timing-function);
}

.close-button:hover,
.close-button:focus,
.close-button:active {
  background-color: var(--pressed-color);

  border: none;
}

.close-button-icon {
  fill: var(--dark-color-main);

  transition: fill var(--duration) var(--timing-function);
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon,
.close-button:active .close-button-icon {
  fill: var(--white-color);
}

.modal-text {
  margin-bottom: 16px;

  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--dark-color-main);
}

.contact-form-field {
  margin-bottom: 8px;
}

.contact-form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--text-color-secondary);
}

.input-wrapper {
  position: relative;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;

  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid var(--backdrop-color);

  color: var(--text-color-secondary);
  background-color: transparent;
  outline: transparent;

  transition: border-color var(--duration) var(--timing-function);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--brand-color);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--brand-color);
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: var(--dark-color-main);

  transition: fill var(--duration) var(--timing-function);
}

.textarea-wrapper {
  margin-bottom: 16px;
}

.contact-form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;

  border: 1px solid var(--backdrop-color);
  border-radius: 4px;
  outline: transparent;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--backdrop-color);
  background-color: transparent;

  transition: border-color var(--duration) var(--timing-function);

  /* overflow: hidden; */
}

.contact-form-textarea:focus {
  outline: none;
  border-color: var(--brand-color);
}

.checkbox-wrapper {
  margin-bottom: 24px;
}

.checkbox-label {
  display: block;
  user-select: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--text-color-secondary);
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid var(--backdrop-color);

  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-label .custom-checkbox {
  fill: var(--light-color-main);
  background-color: var(--pressed-color);

  border: none;
}

.privacy-policy {
  color: var(--brand-color);
}

.contact-form-button {
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;

  background-color: var(--brand-color);
  color: #ffffff;

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-button:hover,
.contact-form-button:focus,
.contact-form-button:active {
  background-color: var(--pressed-color);
}

.portfolio {
  padding: 48px 0;
}

.portfolio-display {
  text-align: center;

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;

  color: var(--text-color-main);
}

.filter-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

.filter-button {
  text-align: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--brand-color);
  background-color: var(--light-color-main);

  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--accent-color);

  padding: 12px 24px;

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    border-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--white-color);
  background-color: var(--pressed-color);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 24px; */
  row-gap: 48px;
}

.cards-link {
  display: block;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--duration) var(--timing-function);
}

.cards-link:hover,
.cards-link:focus,
.cards-link:active {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.cards-image-box {
  position: relative;
  overflow: hidden;
}

.cards-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  padding: 40px 32px;

  background-color: var(--brand-color);

  transform: translateY(100%);
  transition: transform var(--duration) var(--timing-function);
}

.cards-link:hover .cards-overlay,
.cards-link:focus .cards-overlay,
.cards-link:active .cards-overlay {
  transform: translateY(0%);
}

.cards-overlay-text {
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--light-color-main);
}

.card-description {
  padding: 32px 16px;
  border: 1px solid var(--light-color-main);
  border-top: none;
}

.cards-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  color: var(--dark-color-main);

  margin-bottom: 8px;
}

.cards-type {
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--text-color-main);
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }

  .menu-contacts-tel.menu-contacts-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
  }

  .modal {
    width: 392px;
  }
}

@media screen and (min-width: 429px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg-768@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-bg-768@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;

    color: var(--dark-color-main);

    transition: color var(--duration) var(--timing-function);
  }

  .nav-link.current {
    position: relative;

    color: var(--pressed-color);
  }

  .nav-link.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;

    border-radius: 2px;

    background-color: var(--pressed-color);
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    color: var(--pressed-color);
  }

  .contacts {
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--text-color-main);

    transition: color var(--duration) var(--timing-function);
  }

  .contacts-link-email {
    padding-top: 16px;
  }

  .contacts-link-phone {
    padding-bottom: 16px;
  }

  .contacts-link:hover,
  .contacts-link:focus,
  .contacts-link:active {
    color: var(--pressed-color);
  }

  .menu-toggle {
    display: none;
  }

  .hero-display {
    max-width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .features-title {
    text-align: start;
  }

  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .customers-item {
    flex-basis: 168px;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-container {
    width: 528px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
    align-items: baseline;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-title {
    text-align: left;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
    justify-content: start;
  }

  .subscribe-form-input {
    width: 264px;
  }

  .subscribe-form-button {
    margin: 0;
  }

  .modal {
    width: 408px;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }

  .cards-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .filter-list {
    justify-content: center;
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-bg-1440@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-bg-1440@2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-display {
    margin-bottom: 48px;
  }

  .features {
    padding: 120px 0;
  }

  .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .features-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;

    border-radius: 4px;

    background-color: var(--light-color-main);
  }

  .features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .doing {
    display: block;
    padding-bottom: 120px;
  }

  .doing-list {
    display: flex;
    gap: 24px;
  }

  .doing-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  .team {
    padding: 120px;
  }

  .customers {
    padding: 120px;
  }

  .footer-container {
    gap: 0;
  }

  .footer-about {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  .footer-subscribe {
    width: auto;
  }

  .cards-list {
    row-gap: 48px;
  }

  .cards-link {
    box-shadow: none;
  }

  .card-description {
    border: 1px solid var(--accent-color);
    border-top: none;
  }

  .features-text {
    font-weight: 400;
  }
}
